## Integrantes equipo 2
  - - Mario Altamirano Morán
- Rafael Alejandro García Ramírez 
- Jorge Matadamas Hernández.
- Julio Emmanuel Meza Rangel
- Juan Carlos Varela Téllez

##Investigación de la problemática y soluciones existentes

Platicando entre compañeros de equipo se llegó a la conclusión de que sería muy interesante analizar una problemática relacionada con el área de la salud, por lo que buscando problemáticas de salud a nivel mundial, nos encontramos con la malaria o paludismo.  
“La malaria (o paludismo) es una enfermedad causada por un parásito Plasmodium, el cual es trasmitido por la picadura de un mosquito infectado. Los síntomas de esta enfermedad pueden incluir fiebre, vómito y/o dolor de cabeza. La forma clásica de manifestación en el organismo es "fiebre, sudoración y escalofríos" que aparecen 10 a 15 días después de la picadura del mosquito. Las muestras de sangre son examinadas con un microscopio para diagnosticar la malaria, en donde el parásito es detectado dentro de los glóbulos rojos. Las pruebas de diagnóstico rápido (RDTs) son usadas para diagnosticar la malaria en áreas remotas en donde el microscopio no puede ser utilizado” (extraído de https://www.paho.org/es/temas/malaria)

<img src="https://img.europapress.es/fotoweb/fotonoticia_20101008162508_1200.jpg" width=25%>


De igual manera los datos duros que mostramos a continuación nos hicieron empatizar en la importancia del análisis de esta problemática:  
•	La malaria es una enfermedad potencialmente mortal causada por parásitos que se transmiten al ser humano por la picadura de mosquitos infectados.  
•	La malaria mata un niño cada 2 minutos.  
•	En el 2015 hubo 212 millones de casos de malaria causando cerca de 429,000 muertes, muchos de ellos niños africanos.  
•	En las Américas, hubo 568.000 casos de malaria y cerca de 220 muertes fueron reportados en el 2016.  
•	La malaria es prevenible y curable.  
•	Aproximadamente la mitad de la población mundial corre el riesgo de contraer malaria, sobre todo los residentes en países de bajos ingresos. En las Américas, se considera que 132 millones de personas viven en áreas de riesgo de contraer malaria.  
•	Son especialmente vulnerables quienes viajan de zonas libres de malaria a zonas donde la enfermedad es frecuente.  
•	La malaria supone una importante carga económica, pudiendo llegar a reducir en un 1,3% las tasas de crecimiento económico de países donde la enfermedad es frecuente. (datos extraídos de https://www.paho.org/es/temas/malaria)  

La malaria se da actualmente en 85 países de 5 regiones de la OMS. A pesar de esto, lo que nos llamó la atención es que la región europea está libre de esta enfermedad desde el 2015.  
Asimismo, otra cosa que nos llamó la atención es que según comunica el Informe Mundial sobre la Malaria 2020, hubo 241 millones de casos de malaria en todo el mundo en 2020 (rango de incertidumbre 218-269 millones) y 627 000 muertes por malaria (rango de incertidumbre 583-765 mil). Además, se informa que la incidencia de casos de malaria se redujo de 81 en 2000 a 59 en 2015 y 56 en 2019, antes de aumentar nuevamente a 59 en 2020. A nivel mundial, las muertes por malaria se redujeron constantemente durante el período 2000-2019, de 896 000 en el año 2000 a 562 000 en 2015 y a 558 000 en 2019. En 2020, las muertes por malaria aumentaron en un 12% en comparación con 2019. Los aumentos en los casos de malaria son muertes asociadas con la interrupción de los servicios durante la pandemia de COVID-19.  
La carga de paludismo fue mayor en la Región de África de la OMS, con un aumento estimado del 95% de los casos y el 96% de las muertes; el 80% de todas las muertes en esta región se producen entre niños menores de 5 años. (extraído de https://www.who.int/data/gho/data/themes/malaria)

<img src="https://www.passporthealthglobal.com/wp-content/uploads/2018/07/malaria-mapa.jpg" width=75%>

Es debido a lo anterior que escogimos esta problemática.  
De igual manera, se encontró que ya existen programas de apoyo para tratar de solucionar esta problemática, como lo es el Programa Mundial contra el Paludismo (GMP) de la OMS, que es responsable de gestionar los esfuerzos mundiales de la OMS para controlar y erradicarla malaria. El trabajo que realiza este programa se rige por la "Estrategia técnica mundial para la malaria 2016-2030" adoptada por la Asamblea Mundial de la Salud en mayo de 2015 y actualizada en 2021.  
Nuestro enfoque no es resolver la malaria como enfermedad y problemática mundial, sino más bien entender cómo se ha desarrollado esta problemática y en particular durante los últimos años.  
Referencias de investigaciones recientes de la malaria: 
-	https://cdn.who.int/media/docs/default-source/malaria/world-malaria-reports/world-malaria-report-2021-global-briefing-kit-spa.pdf?sfvrsn=8e5e915_23&download=true
-	https://www.isglobal.org/-/malaria-investigacion-con-impacto-en-tiempos-de-covid-19

##Planteamiento de preguntas

A continuacion, presentamos una serie de preguntas clave que nos ayudan a encaminar de manera correcta la investigación con los datos recabados.

1.	¿Cuáles son los países dónde se han presentado mayor número casos de malaria?
2.	¿Cuáles son los países dónde se han presentado menor número casos de malaria?
3.	¿En qué países la malaria ha ocasionado mayor número de muertes respecto a la cantidad de infectados?
4.	¿En qué países la malaria ha ocasionado menor número de muertes respecto a la cantidad de infectados?
5.	¿En qué países había mayor tasa de tratamiento en 2020?
6.	¿En qué países había menor tasa de tratamiento en 2020?
7.	¿En qué países ha aumentado el número de tratamientos del 2018 al 2020?
8.	¿En qué países ha disminuido el número de tratamientos del 2018 al 2020?
9.	¿En qué países el número de casos ha disminuido a través de los años? 
10.	¿En qué países el número de muertes ha disminuido a través de los años?

##Recolección de datos

Se buscaron los datos en muchas plataformas como Kaggle y Academic Torrents pero no pudimos encontrar exactamente lo que buscabamos. Por esto mismo, comenzamos a buscar con organizaciones que son expertas en el tema en cuestion.

Obtuvimos los datos de la página de las bases de datos Global Health Observatory de la organización World Health Organization.

https://www.who.int/data/gho

<img src="https://images.squarespace-cdn.com/content/v1/54d50ceee4b05797b34869cf/1496775391944-BCCH3FAYYAFK85YSOAY6/image-asset.jpeg" width=25%>

## Lectura y creación del dataset

Ya con toda la informacion que necesitamos sobre la problematica, empezarémos a procesar los datos.  

Para poder importar, procesar, analizar, transformar y modificar nuestros datos, vamos a utilizar las siguientes librerias:  

- Pandas: Esta biblioteca nos ayuda a leer nuestros datos, al igual que modificar nuestros datos a traves de un data-frame para manipularlos y analizarlos. Para más información haz click [aquí](https://pandas.pydata.org/).
- Numpy: Esta biblioteca nos brinda diferentes herramientas matemáticas vectorizadas para acelerar nuestros cálculos. Para más información haz click [aquí](https://numpy.org/).

![logos.png]()

In [ ]:
import pandas as pd
import numpy as np
import requests
# quitamos warnings 
import warnings
warnings.filterwarnings('ignore')

Para no tener problemas de importacion y sobre direcciones locales para buscar los archivos, asi como automatizar mejor este proceso, vamos a utilizar **API's** de la Organizacion Mundial de la Salud para poder obtener estos datos.

Primero obtenemos codigos del API para poder obtener los datos:

In [ ]:
# Arreglo de endpoints para ciclarlo
endpoints = [
    "https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'Number of presumed malaria cases')",
    "https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'Number of confirmed malaria cases')",
    "https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'Estimated number of malaria deaths')",
    "https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'Estimated malaria mortality rate')",
    "https://ghoapi.azureedge.net/api/Indicator?$filter=contains(IndicatorName,'Number of malaria cases treated with any first')",
    ]

indicator_codes = []

# Obtencion de codigos
for endpoint in endpoints:
  try:
    r = requests.get(endpoint)
    if r.status_code == 200:
      json = r.json()
      normalized = pd.json_normalize(json["value"])
      df = pd.DataFrame.from_dict(normalized)
      indicator_codes.append(df["IndicatorCode"].values[0])
  except:
    print("Error at ", endpoint)

Ahora actualizamos el arreglo de endpoints para poder obtener los datos.

In [ ]:
endpoints = []
base = "https://ghoapi.azureedge.net/api/"

# Actualizacion de endpoints
for code in indicator_codes:
  endpoints.append(base + code)

Ahora obtenemos nuestros data-sets crudos

In [ ]:
dataframes = []

# Obtencion de data-sets
for endpoint in endpoints:
  try:
    r = requests.get(endpoint)
    if r.status_code == 200:
      json = r.json()
      normalized = pd.json_normalize(json["value"])
      df = pd.DataFrame.from_dict(normalized)
      dataframes.append(df)
  except:
    print("Error at ", endpoint)

Como este data-set ya fue analizado anteriormente, sabemos que tenemos que filtrar columnas para obtener los datos que queremos de cada data-set.

Asimismo, queremos los datos solamente de los países y no de regiones o continentes.

In [ ]:
# Nombres de las columnas actualizadas
column_names = ["presumed_cases", "confirmed_cases", "estimated_deaths", "mortality_rate", "treated_cases"]

# Filtro de los data-sets y actualizacion de los nombres de las columnas
for i in range(len(dataframes)):
  df = dataframes[i].copy()
  df = df[["SpatialDimType", "SpatialDim", "TimeDim", "Value"]]
  df = df.rename({"SpatialDimType": "type_region", "SpatialDim": "country", "TimeDim": "year", "Value": column_names[i]}, axis=1)
  df = df[df["type_region"] == "COUNTRY"]
  df.drop(columns=["type_region"], axis=1, inplace=True)
  dataframes[i] = df

Con nuestros data-sets filtrados, lo unico que nos falta es juntarlos en un solo data-set para no tener que andar saltando entre todos. Esto se hara un con `merge` que nos deja juntar data-sets con respecto a la igualdad de una columna.

In [ ]:
df = dataframes[0]

# Merge de los data-sets
for i in range(1, len(dataframes)):
  df = pd.merge(df, dataframes[i], how="outer", on=["country", "year"])

Ahora vamos a ordenar nuestro data-set por pais y luego por año.

In [ ]:
# Ordenamiento
df = df.sort_values(["country", "year"])

En el dataset los casos tratados solamente comenzaron a ser reportados a partir del 2018. Por lo que los datos de años anteriores no son relevantes para el análisis que buscamos realizar y solo consideraremos los datos desde el 2018 en adelante.

In [ ]:
df = df[df["year"] >= 2018]

Por ultimo se reestablece el índice para que no haya "saltos" de filas

In [ ]:
# Restableciendo indices
df = df.reset_index(drop=True)

Ahora echemos un vistazo al data-set resultante

In [ ]:
df.head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
0,AFG,2018,51 174,248 689,292 [ 110- 500],1.0 [0.4-1.8],31 114
1,AFG,2019,1 034,173 860,170 [ 65- 300],0.6 [0.2-1.0],169 504
2,AFG,2020,150,105 295,110 [ 41- 190],0.4 [0.1-0.6],103 466
3,AGO,2018,777 685,5 150 575,13 489 [ 9 390- 20 000],43.8 [30.5-64.9],6 092 332
4,AGO,2019,475 810,7 054 978,13 622 [ 9 440- 20 500],42.8 [29.7-64.4],5 575 259

## Análisis exploratorio

Una vez unidas los datasets tenemos un conjunto de datos que realmente nos permite responder las preguntas planteadas. Este muestra para cada país los casos estimados, casos confirmados, muertes estimadas, tasa de mortalidad y casos tratados, entre el 2018 y el 2020.

Calculamos el tamaño del dataset

In [ ]:
df.shape

(418, 7)

Contamos la cantidad de valores para cada país

In [ ]:
df["country"].value_counts()

EGY    4
TKM    4
OMN    4
MAR    4
ARE    4
      ..
MHL    1
MDV    1
ESP    1
MDA    1
LBN    1
Name: country, Length: 194, dtype: int64

Contamos la cantidad de valores por año

In [ ]:
df["year"].value_counts()

2020    204
2018    107
2019    107
Name: year, dtype: int64

El dataset tiene 418 filas y 7 columnas. Se cuenta con datos de 194 países distintos. Para algunos se cuenta con el registro de 2018 a 2020, para otros solamente se cuentan con registros de menos años, siendo en 2020 donde se presentan más registros. Sin embargo, aparentan ser datos suficientes.

Mostramos los nombres de las columnas

In [ ]:
df.columns

Index(['country', 'year', 'presumed_cases', 'confirmed_cases',
       'estimated_deaths', 'mortality_rate', 'treated_cases'],
      dtype='object')

Tenemos las columnas
- country: País
- year: Año
- presumed_cases: Número presumido de casos de malaria
- confirmed_cases: Número confirmado de casos de malaria
- estimated_deaths: Número estimado de muertes por malaria
- mortality_rate: Tasa de mortalidad por malaria
- treated_cases: Número de casos tratados con cualquier curso de tratamiento de primera línea, incluyendo terapias combinadas a base de artemisina (ACT)

Los nombres son apropiados, ya que ya se renombraron los datasets originales al crear el dataset que utilizaremos.

Mostramos los tipos de cada columna

In [ ]:
df.dtypes

country             object
year                 int64
presumed_cases      object
confirmed_cases     object
estimated_deaths    object
mortality_rate      object
treated_cases       object
dtype: object

Los campos *country* y *year* tienen el tipo indicado, *object* e *int64* respectivamente. Las demás variables deberian ser numéricas, enteros para los casos presumidos y confirmados, muertes y casos tratados; así como *float* para la tasa de mortalidad.

In [ ]:
df.head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
0,AFG,2018,51 174,248 689,292 [ 110- 500],1.0 [0.4-1.8],31 114
1,AFG,2019,1 034,173 860,170 [ 65- 300],0.6 [0.2-1.0],169 504
2,AFG,2020,150,105 295,110 [ 41- 190],0.4 [0.1-0.6],103 466
3,AGO,2018,777 685,5 150 575,13 489 [ 9 390- 20 000],43.8 [30.5-64.9],6 092 332
4,AGO,2019,475 810,7 054 978,13 622 [ 9 440- 20 500],42.8 [29.7-64.4],5 575 259

Al observar los datos podemos ver que en general son correctos. No obstante en los casos de algunas columnas se muestra un valor aproximado y después un rango entre corchetes. Para el procesamiento de los datos podría ser más conveniente mantener solamente el valor aproximado.

Además hay una gran cantidad de entradas con valores nulos.

## Limpieza de datos

Se cuentan los valores nulos por cada columna

In [ ]:
df.isna().sum()

country               0
year                  0
presumed_cases      160
confirmed_cases     135
estimated_deaths      0
mortality_rate        8
treated_cases       180
dtype: int64

Las columnas de casos presumidos y confirmados, así como de casos tratados cuentan con una gran cantidad de valores nulos. 

Las columnas con mayor cantidad de valores nulos son casos confirmados y casos tratados. No podemos eliminarlas, ya que estas variables en realidad son indispensables para nuestra problemática. 

En algunas entradas la presencia de valores nulos implica la ausencia de malaria en la región, sin embargo no es el caso de todas. Podríamos sustituir los valores por la media o mediana, sin embargo esto afectaría el análisis, ya que el contagio y tratamiento de la enfermedad se ha desarrollado de forma distinta en cada región, no es uniforme entre las distinta regiones. 

Comenzamos por eliminar las filas con valores nulos en las columnas presumed_cases, y confirmed_cases, ya que las entradas que no cuentan con esta información no nos son útiles

In [ ]:
df = df.dropna(subset=["presumed_cases", "confirmed_cases"])

Contamos nuevamente la cantidad de valores nulos por columna

In [ ]:
df.isna().sum()

country              0
year                 0
presumed_cases       0
confirmed_cases      0
estimated_deaths     0
mortality_rate       0
treated_cases       44
dtype: int64

Observamos que al eliminar los valores nulos de las columnas *presumed_cases* y *confirmed_cases* se eliminan también los de *mortality_rate*. En cuanto a *treated_cases* es posible que los valores nulos restantes se deban a la ausencia de malaria en la región o a que al ser pocos casos no fue necesario tratar ninguno.

Al observar estas entradas vemos que es el caso

In [ ]:
df[df["treated_cases"].isna()].head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
12,ARG,2018,0,23,0,0.0 [0.0-0.0],NaN
13,ARG,2019,0,0,0,0.0 [0.0-0.0],NaN
15,ARM,2018,0,6,0,0.0 [0.0-0.0],NaN
17,ARM,2020,0,3,No malaria,No malaria,NaN
21,AZE,2018,0,2,0,0.0 [0.0-0.0],NaN

Por tanto, solo en estos casos reemplazaremos los valores nulos por 0

In [ ]:
df["treated_cases"] = df["treated_cases"].fillna("0")

Observamos que ya no contramos con valores nulos

In [ ]:
df.isna().sum()

country             0
year                0
presumed_cases      0
confirmed_cases     0
estimated_deaths    0
mortality_rate      0
treated_cases       0
dtype: int64

Reindexamos el dataframe

In [ ]:
df = df.reset_index(drop=True)
df.head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
0,AFG,2018,51 174,248 689,292 [ 110- 500],1.0 [0.4-1.8],31 114
1,AFG,2019,1 034,173 860,170 [ 65- 300],0.6 [0.2-1.0],169 504
2,AFG,2020,150,105 295,110 [ 41- 190],0.4 [0.1-0.6],103 466
3,AGO,2018,777 685,5 150 575,13 489 [ 9 390- 20 000],43.8 [30.5-64.9],6 092 332
4,AGO,2019,475 810,7 054 978,13 622 [ 9 440- 20 500],42.8 [29.7-64.4],5 575 259

Calculamos el tamaño del dataset sin valores nulos

In [ ]:
df.shape

(256, 7)

Contamos la cantidad de valores para cada país

In [ ]:
df["country"].value_counts()

AFG    3
PRK    3
PER    3
PAN    3
PAK    3
      ..
NER    1
AZE    1
COM    1
SWZ    1
LBR    1
Name: country, Length: 95, dtype: int64

Contamos la cantidad de valores por año

In [ ]:
df["year"].value_counts()

2018    91
2019    84
2020    81
Name: year, dtype: int64

El dataset sin valores nulos tiene 256 filas y 7 columnas. Se cuenta con datos de 95 países distintos. Para la mayoría se cuenta con el registro de 2018 a 2020, para otros solamente se cuentan con registros de menos años, siendo en 2020 donde se presentan más registros. 

Si bien, el dataset se redujo de manera significativa, mantuvimos los datos más recientes de los cuales podemos analizar todas las variables consideradas.

# Transformación de datos

Revisamos nuevamente el tipo de dato de cada columna

In [ ]:
df.dtypes

country             object
year                 int64
presumed_cases      object
confirmed_cases     object
estimated_deaths    object
mortality_rate      object
treated_cases       object
dtype: object

Debemos convertir *presumed_cases*, *confirmed_cases* y *cases_treated* a entero, sin embargo, los números se encuentran separados por espacios los cuales debemos eliminar.

Eliminamos los espacios extra

In [ ]:
df['presumed_cases'] = df["presumed_cases"].str.replace('\s', '', regex=True)
df["confirmed_cases"] = df["confirmed_cases"].str.replace('\s', '', regex=True)
df["treated_cases"] = df["treated_cases"].str.replace('\s', '', regex=True)

Una de las entradas de *treated_cases* combina un número con un porcentaje, por lo que lo tratamos

In [ ]:
df[df["treated_cases"].str.find("%") != -1]

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
124,LAO,2018,0,9038,23 [ 1- 45],0.6 [0.0-1.2],888031.20%

Al ser solo una entrada reasignaremos el valor manualmente

In [ ]:
df.loc[124, "treated_cases"] = "8880"

Convertimos a valores numéricos las columnas indicadas

In [ ]:
df["presumed_cases"] = pd.to_numeric(df["presumed_cases"])
df["confirmed_cases"] = pd.to_numeric(df["confirmed_cases"])
df["treated_cases"] = pd.to_numeric(df["treated_cases"])
df["treated_cases"] = df["treated_cases"].astype("int64")

Verificamos los tipos de las variables

In [ ]:
df.dtypes

country             object
year                 int64
presumed_cases       int64
confirmed_cases      int64
estimated_deaths    object
mortality_rate      object
treated_cases        int64
dtype: object

Las columnas para los casos presumidos, confirmados y tratados son ahora del tipo entero.

Debemos convertir también la columna de *estimated_deaths* a int y la de *mortality_rate* a float. Para ello mantendremos solamente el primer valor indicado (eliminaremos el rango) y convertiremos las entradas que indican "No malaria" a 0

In [ ]:
def formatear_columnas(string):
  if(string == "No malaria" or string == ""):
    return "0"
  else:
    string = string.strip()
    string = string.replace("/\s/", "")
    datos = string.split("[")
    return datos[0]

df["estimated_deaths"] = df["estimated_deaths"].map(formatear_columnas)
df["mortality_rate"] = df["mortality_rate"].map(formatear_columnas)

Removemos también los espacios adicionales en la columna *estimated_deaths*

In [ ]:
df['estimated_deaths'] = df["estimated_deaths"].str.replace('\s', '', regex=True)

Casteamos ahora ambas columnas al tipo correspondiente

In [ ]:
cast = {
    "estimated_deaths": "int64",
    "mortality_rate": "float64"
}

df = df.astype(cast)

Confirmamos que los datos tienen ahora el formato correcto

In [ ]:
df.dtypes

country              object
year                  int64
presumed_cases        int64
confirmed_cases       int64
estimated_deaths      int64
mortality_rate      float64
treated_cases         int64
dtype: object

Visualizamos los datos para ver que estén correctos

In [ ]:
df.head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases
0,AFG,2018,51174,248689,292,1.0,31114
1,AFG,2019,1034,173860,170,0.6,169504
2,AFG,2020,150,105295,110,0.4,103466
3,AGO,2018,777685,5150575,13489,43.8,6092332
4,AGO,2019,475810,7054978,13622,42.8,5575259

Agregaremos la columna *total_cases* que será la suma de los casos presumidos y confirmados

In [ ]:
df["total_cases"] = df["presumed_cases"] + df["confirmed_cases"]

Agregaremos la columna *treated_rate*, que será el porcentaje de casos atendidos con respecto al total de casos.

Agregaremos el formato a esta columna para que solo despliegue 2 decimales

In [ ]:
df["treated_rate"] = df["treated_cases"]/df["total_cases"] * 100
df["treated_rate"] = df["treated_rate"].apply(lambda n: round(n, 2))

Se muestra el dataset final, ya correctamente procesado

In [ ]:
df.head()

,country,year,presumed_cases,confirmed_cases,estimated_deaths,mortality_rate,treated_cases,total_cases,treated_rate
0,AFG,2018,51174,248689,292,1.0,31114,299863,10.38
1,AFG,2019,1034,173860,170,0.6,169504,174894,96.92
2,AFG,2020,150,105295,110,0.4,103466,105445,98.12
3,AGO,2018,777685,5150575,13489,43.8,6092332,5928260,102.77
4,AGO,2019,475810,7054978,13622,42.8,5575259,7530788,74.03

# Solución de preguntas

A continuación resolveremos las preguntas planteadas en un inicio

1. ¿Cuáles son los países con mayor número de casos de malaria?

Agrupamos los datos por pais y obtenemos la suma del total de casos durante los 3 años

In [ ]:
cases = df.groupby("country").agg({"total_cases":sum})

Ordenamos los datos por cantidad de casos de manera descendente

In [ ]:
cases = cases.sort_values("total_cases", ascending=False)

Identificamos el top de 5 países con mayor cantidad de casos y la cantidad de casos

In [ ]:
cases.iloc[0:5]

         total_cases
country
NGA         65439228
COD         43168437
UGA         39458178
MOZ         33451855
BFA         30033871

Los países con más casos son Nigeria, República Democrática del Congo, Uganda, Mozambique y Burkina Faso

2. ¿Cuáles son los países con menor número de casos de malaria?

Identificamos el top de 5 países con mayor cantidad de casos y la cantidad de casos

In [ ]:
cases = cases.sort_values("total_cases", ascending=True)
cases.iloc[0:5]

         total_cases
country
PRY                0
AZE                2
UZB                3
TJK                4
SLV                5

Los países con menos casos son Paraguay, Azerbaijan, Uzbekistán, Taijikistán y El Salvador

3. ¿En qué países la malaria ha ocasionado mayor número de muertes respecto a la cantidad de infectados?

Agrupamos los datos por pais y obtenemos el promedio de la tasa de mortalidad durante el periodo

In [ ]:
deaths =  df.groupby("country").agg({"mortality_rate":np.mean})

Ordenamos los datos de forma descendente

In [ ]:
deaths = deaths.sort_values("mortality_rate", ascending=False)

Identificamos el top de 5 países con mayor tasa promedio de mortalidad

In [ ]:
deaths.iloc[0:5]

         mortality_rate
country
CAF           98.866667
NGA           95.200000
BFA           94.900000
SLE           94.033333
MLI           91.866667

Los países con mayor proporción de muertes son la República Centroafricana, Nigeria, Burkina Faso, Sierra Leona y Mali

4. ¿En qué países la malaria ha ocasionado menor número de muertes respecto a la cantidad de infectados?

Identificamos el top de 5 países con menor tasa promedio de mortalidad

In [ ]:
deaths = deaths.sort_values("mortality_rate", ascending=True)
deaths.iloc[0:5]

         mortality_rate
country
PAN                 0.0
SWZ                 0.0
SUR                 0.0
STP                 0.0
ARM                 0.0

Los países con menor proporción de muertes son Panama, Eswatini, Suriname, Santo Tome y Príncipe y Armenia

5.	¿En qué países había mayor tasa de tratamiento en 2020?

Filtramos los datos del 2020, manteniendo las columnas de pais y tasa de tratamiento

In [ ]:
treated =  df[df["year"] == 2020][["country", "treated_rate"]]
treated = treated.set_index("country", drop=True)

Ordenamos los datos de forma descendente

In [ ]:
treated = treated.sort_values("treated_rate", ascending=False)

Identificamos el top de 5 países con mayor tasa de tratamiento

In [ ]:
treated.iloc[0:5, :]

         treated_rate
country
ZAF            248.46
UGA            201.81
SDN            142.53
BRA            118.50
COL            106.14

Los países con mayor tasa de tratamiento en 2020 eran Sudáfrica, Uganda, Sudán, Brasil y Colombia. Puede resaltar que la tasa de tratamiento es mayor al 100%, pero esto es posible ya que se obtiene la proporción al considerar solo los casos reportados durante el año mientras que puede que se atiendan casos de años anteriores también.

6.- ¿En qué países había menor tasa de tratamiento en 2020?

Identificamos el top de 5 países con menor tasa de tratamiento

In [ ]:
treated = treated.sort_values("treated_rate", ascending=True)
treated.iloc[0:5, :]

         treated_rate
country
LKA              0.00
ARM              0.00
UZB              0.00
MRT              0.53
GUY             16.49

Los países con menor tasa de tratamiento en 2020 eran Sri Lanka, Armenia, Uzbekistán, Mauritania y Guyana

7.	¿En qué países ha aumentado el número de tratamientos del 2018 al 2020?

Seleccionamos los datos de casos tratados del 2018 y 2020

In [ ]:
data_2018 = df[df["year"] == 2018][["country", "treated_cases"]]
data_2020 = df[df["year"] == 2020][["country", "treated_cases"]]

Combinamos los datos en un solo dataframe y agregamos una columna de diferencia entre 2020 y 2018

In [ ]:
data_2018 = data_2018.rename({"treated_cases": "2018"}, axis=1)
data_2020 = data_2020.rename({"treated_cases": "2020"}, axis=1)
data = pd.merge(data_2018, data_2020, on="country")
data["diff"] = data["2020"] - data["2018"]

Se muestra la lista de países para los que ha aumentado la cantidad de tratamientos

In [ ]:
increased = data[data["diff"] > 0]
list(increased["country"])

['AFG',
 'BEN',
 'BOL',
 'BRA',
 'BWA',
 'CAF',
 'CHN',
 'CMR',
 'COD',
 'COG',
 'COL',
 'CPV',
 'CRI',
 'DJI',
 'DOM',
 'DZA',
 'ECU',
 'ERI',
 'ETH',
 'GHA',
 'GIN',
 'HND',
 'HTI',
 'IDN',
 'IND',
 'IRN',
 'KOR',
 'MEX',
 'MLI',
 'MOZ',
 'MYS',
 'NGA',
 'NIC',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'PNG',
 'PRK',
 'RWA',
 'SAU',
 'SDN',
 'SLB',
 'SSD',
 'TLS',
 'UGA',
 'ZAF',
 'ZWE']

Los países donde ha aumentado la cantidad de tratamientos son 'AFG','BEN','BOL','BRA','BWA','CAF','CHN','CMR','COD','COG','COL','CPV','CRI','DJI','DOM','DZA','ECU','ERI','ETH','GHA','GIN','HND','HTI','IDN','IND','IRN','KOR','MEX','MLI','MOZ','MYS','NGA','NIC','PAK','PAN','PER','PHL','PNG','PRK','RWA','SAU','SDN','SLB','SSD','TLS','UGA','ZAF','ZWE'

8. ¿En qué países ha disminuido el número de tratamientos del 2018 al 2020?

Se muestra la lista de países donde ha disminuido la cantidad de tratamientos

In [ ]:
decreased = data[data["diff"] < 0]
list(decreased["country"])

['AGO',
 'BDI',
 'BFA',
 'BGD',
 'GAB',
 'GMB',
 'GTM',
 'GUY',
 'KEN',
 'KHM',
 'LAO',
 'MMR',
 'MRT',
 'NAM',
 'NPL',
 'SEN',
 'SLE',
 'STP',
 'SUR',
 'THA',
 'TZA',
 'VEN',
 'VNM',
 'VUT',
 'ZMB']

Los países donde ha disminuido el número de tratamientos son
'AGO','BDI','BFA','BGD','GAB','GMB','GTM','GUY','KEN','KHM','LAO','MMR','MRT','NAM','NPL','SEN','SLE','STP','SUR','THA','TZA','VEN','VNM','VUT','ZMB'

9.	¿En qué países el número de casos ha disminuido a través de los años?

Seleccionamos los datos de casos del 2018 y 2020

In [ ]:
data_2018 = df[df["year"] == 2018][["country", "total_cases"]]
data_2020 = df[df["year"] == 2020][["country", "total_cases"]]

Combinamos los datos en un solo dataframe y agregamos una columna de diferencia entre 2020 y 2018

In [ ]:
data_2018 = data_2018.rename({"total_cases": "2018"}, axis=1)
data_2020 = data_2020.rename({"total_cases": "2020"}, axis=1)
data = pd.merge(data_2018, data_2020, on="country")
data["diff"] = data["2020"] - data["2018"]

Se muestra la lista de países para los que ha disminuido el número de casos

In [ ]:
increased = data[data["diff"] < 0]
list(increased["country"])

['AFG',
 'ARM',
 'BDI',
 'BFA',
 'BGD',
 'BLZ',
 'BRA',
 'CHN',
 'CMR',
 'COG',
 'CPV',
 'GAB',
 'GHA',
 'GMB',
 'GTM',
 'IND',
 'KEN',
 'KHM',
 'KOR',
 'LAO',
 'LKA',
 'MEX',
 'MMR',
 'MRT',
 'MYS',
 'NAM',
 'NPL',
 'PAK',
 'PER',
 'PNG',
 'PRK',
 'RWA',
 'SDN',
 'SEN',
 'SLE',
 'SSD',
 'STP',
 'THA',
 'TZA',
 'VEN',
 'VNM',
 'VUT',
 'ZAF']

El número de casos ha disminuido en los siguientes países:
'AFG','ARM','BDI','BFA','BGD','BLZ','BRA','CHN','CMR','COG','CPV','GAB','GHA','GMB','GTM','IND','KEN','KHM','KOR','LAO','LKA','MEX','MMR','MRT','MYS','NAM','NPL','PAK','PER','PNG','PRK','RWA','SDN','SEN','SLE','SSD','STP','THA','TZA','VEN','VNM','VUT','ZAF'

10.	¿En qué países el número de muertes ha disminuido a través de los años?

Seleccionamos los datos de casos del 2018 y 2020

In [ ]:
data_2018 = df[df["year"] == 2018][["country", "estimated_deaths"]]
data_2020 = df[df["year"] == 2020][["country", "estimated_deaths"]]

Combinamos los datos en un solo dataframe y agregamos una columna de diferencia entre 2020 y 2018

In [ ]:
data_2018 = data_2018.rename({"estimated_deaths": "2018"}, axis=1)
data_2020 = data_2020.rename({"estimated_deaths": "2020"}, axis=1)
data = pd.merge(data_2018, data_2020, on="country")
data["diff"] = data["2020"] - data["2018"]

Se muestra la lista de países para los que ha disminuido el número de muertes

In [ ]:
increased = data[data["diff"] < 0]
list(increased["country"])

['AFG',
 'BGD',
 'BRA',
 'COL',
 'GTM',
 'GUY',
 'IND',
 'KHM',
 'LAO',
 'MMR',
 'NAM',
 'NIC',
 'NPL',
 'PAK',
 'PER',
 'THA',
 'VEN',
 'VNM',
 'ZAF']

Los países donde ha disminuido el número de muertes son:
'AFG',
 'BGD',
 'BRA',
 'COL',
 'GTM',
 'GUY',
 'IND',
 'KHM',
 'LAO',
 'MMR',
 'NAM',
 'NIC',
 'NPL',
 'PAK',
 'PER',
 'THA',
 'VEN',
 'VNM',
 'ZAF'

##Conclusión

Podemos observar que los países desfavorecidos corresponden en su mayoría a países africanos los cuales a su vez se encuentran en la categoría de países marginados según la ONU. Suponiendo una posible causalidad, esto es un factor alarmante pues indicaría que no solamente depende de condiciones ambientales para el favorecimiento de esta enfermedad, si no que el desarrollo económico fomenta su progreso y en países cuya taza de crecimiento económico es bajo (o incluso negativo) esto significa que la enfermedad es un potencial aspirante para causar una pandemia o una crisis de salud considerable y más considerando a la naturaleza de diagnóstico de esta. 

Podríamos crear una relación más fuerte de esta hipótesis creando gráficas comparando el crecimiento económico y el avance en casos y muertes. También, sería de mucha ayuda un mapa donde podemos ver más claramente si existe alguna concentración o cluster de casos, esto para determinar si existen factores extras no considerados como ciudades que se comportan como epicentros de los contagios. 

Nos gustaría analizar todos los factores que se ven envuelto en la evolución de la malaria a nivel mundial, y encontrar aquellos que mayor peso tienen en su pronóstico para crear un modelo que permita tomar decisiones sobre su manejo o posibles precauciones. 

Por último, nos gustaría crear algún modelo que facilite su diagnóstico. Nuestra investigación previa de la problemática indica, además de la espera de 10 a 15 días para su detección, que se requiere un equipo especializado además de un experto capaz de realizar el análisis de la sangre bajo un microscopio. Esto nos hizo pensar en que este tipo de diagnóstico resultaría perfecto para crear un modelo capaz de distinguir imágenes de un grupo de glóbulos rojos infectados de unos sanos. Esto abarataría considerablemente el costo y permitiría frenar el número de contagios.